/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: #1e1e1e;
  color: #f9f9f9;
  position: fixed;
  height: 100%;
  overflow: auto;
  transition: 350ms;
}

.sidebar-text {
  text-decoration: None;
  display: grid;
  justify-content: start;
  align-items: center;
  padding-left: 10px;
  list-style: none;
  height: 60px;
  font-size: 18px;
  border-radius: 4px;
  color: #f9f9f9;
  font-weight: lighter;
  transition: 300ms;
}

.sidebar-text:hover{
  background-color: black;
}

.sidebar a{
  width: 100%;
  text-decoration: None;
  color: #f9f9f9;
  font-weight: lighter;
  transition: 300ms;
}

.sidebar a:hover{
  color: cornflowerblue;
  font-weight: bold;
  transition: 300ms;
}

.nav-icon {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 20px;
}


/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    transition: 350ms;
  }
  .sidebar-text {
    display: flex;
    justify-content: center;
    transition: 350ms;
  }
  div.content {
    margin-left: 0;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar-text{
    text-align: center;
    float: none;
  }
}